body {
	padding: 0px;
	background: #77aa33;
	font-size: 14pt;
	line-height:160%;
	text-align: justify;
	margin: 0px;
}

a:link {
	text-decoration:none;
	color: #fff;
}
a:hover { color:#DDFF00; }

ul, ol {
	padding: 0;
	margin: 0;
}

.l-inline  > * { display: inline-block; }
.l-stacked > * { display: block; }

.l-placeholder--one-line {
	height: 1rem;
	width: 100%;
}

.l-great-wrapper {
	width: 70%;
	margin: 0 auto;
}
@media (max-width: 568px) {
	.l-greate-wrapper { width: 100%; }
}
.l-header { margin-bottom: 1em; }
.l-main {
	width: 70%;
	float: right;
	margin-left: 5%;
}
.l-sidebar {
	width: 25%;
	float: right;
}
.trail {
	color: #fff;
	font-weight: bold;
	font-size: 2rem;
}
.trail li + li:before { content: '/ '; }
.trail.trail--small {
	font-size: 1rem;
	padding: 0;
	padding-top: 0.5rem;
}
.condition {
	font-size: 0.9rem;
	text-align: left;
}
.condition > li { list-style-type: none;}
.condition ul {
	display: inline;
}
.condition__values li + li:before { content: ', '; }
.condition__label {
	display: inline-block;;
	width: 4em;
}
.entry-list { font-size: 1.4rem; }
.entry-list a {
	display: block;
	padding: 0.3rem;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.entry-list a:hover { background-color: #581; }
.entry-list li { list-style-type: none; }
.entry-list__excerpt {
	font-size: 0.6em;
	line-height: 1.6;
	color: #ccc;
	margin-bottom: 1em;
}
.entry-list__excerpt b { color: #df6; }
.entry-list__date {
	font-size: 0.8em;
	color: #000;
	font-weight: normal;
}
.entry-list--dirs li a {
	background-color: #8a4;
	border-bottom: 1px solid #999;
}
.entry-list--dirs li a:after { content: '/'; }
.entry-list--dirs li a:hover { background-color: #360; }

.list-all { text-align: right; }

.search { text-align: right; }
.search input[type=text] { width: 100%; }
.search input[type=submit] { display: none; }

.idx-field {
	font-size: 0.9rem;
	line-height: 1.5;
	text-align: right;
}
.idx-field h3 {
	color: #cf8;
	border-bottom: 2px solid #cf8;
}
.idx-field__no-change a:link { color: #bbb; }
.idx-field h3 a { color: inherit; }
.idx-field h3 a:hover { color: #df0; }
.idx-field li { list-style-type: none; }
.idx-field__similar {
	text-align: left;
	display: block;
}
.menu {
	position: fixed;
	top: 0px;
	height: 2rem;
	padding-left: 0.5rem;
	width: 100%;
	background-color: #669922;

}
.menu li { line-height: 1.5; }
.menu li + li:before { content: '| '; }
.menu--placeholder {
	height: 2rem;
	position: static;
}

.document h1 {
	margin-bottom: 5rem;
	color: #fff;
	line-height: 1.4;
	letter-spacing: -1px;
}
.document ol, .document ul {
	padding-left: 1em;
}
.document h2 {
	color: #cf8;
	font-size: 140%;
	line-height: 100%;
	border-bottom: 5px solid;
}
.document pre {
	background-color: #ddd;
	padding: 1em 2em;
	line-height: 1.2em;
	overflow-x: auto;
}
.document pre > code { color: black; }
.document em  > code { color: black; }
.document code { color: #DFD; }
.document strong {
	font-style: normal;
	background: #df0;
}
.document em {
	font-style: normal;
	font-weight: bold;
}
.document th { border-bottom: 1px solid #000; }
.document td {
	border-bottom: 1px dotted #aaa;
	padding-right: 2em;
}
.document table {
	margin-bottom: 1em;
	border-spacing: 0em;
}
.back-links h2 { border-bottom: none; }